// 定义变量

// 定义网站的主色调
$colors: (
  "primary": #db9e3f, 
  "info": #4b67af,
  "blue": #4394e4,
  "danger": #791a15,
  "blue-1": #1f3695,
  "white": #fff, 
  "light": #f9f9f9,
  "light-1": #d4d9de,
  "grey": #999,
  "grey-1":#666,
  "dark-1": #343440,
  "dark": #222,
  "black":#000,
);
$border-color: map-get($map: $colors, $key: 'light-1');
// 字体
$base-font-size: 1rem;
$font-sizes:(
  xxs:0.6154, //8px
  xs:0.7692, //10px
  sm:0.9231, //12
  md:1, //13
  lg:1.0769, //14
  xl:1.2308, //16
  xxl: 1.3846, //18
  );
  // reset

  // 主轴的对其方式
  $flex-jc: (
    start: flex-start,
    end: flex-end,
    center: center,
    between: space-between,
    around: space-around,
  );
 
  // 辅轴的对其方式
  $flex-ai: (
    start: flex-start,
    end: flex-end,
    center: center,
    // 在交叉轴上等高
    stretch:stretch,
  );

  
  // margin，padding
  // spacing
  // .mt-1: margin-top: 1级 .pb-2:padding-bottom:2级
  $spacing-types: (m: margin, p: padding);
  $spacing-directions: (t: top, b: bottom, l: left, r: right);
  $spacing-base-size: 1rem;
  $spacing-sizes: (
    0: 0,
    1:0.25,
    2: 0.5,
    3: 1,
    4: 2,
    5: 3
    );
// button
// .btn {
//   border:none;
//   border-radius: 0.1538rem;
//   // font-size: map-get($font-sizes: 'sm') * $base-font-size;
//   padding: 0.2rem 0.6rem;
//   font-size: map-get($map: $font-sizes, $key: 'sm') * $base-font-size;
// }